@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pretendard';
    src: url('../public/font/PretendardVariable.ttf') format('woff');
}

body {
    font-family: 'Pretendard';
    background: linear-gradient(to bottom, rgba(215, 190, 242, 0.73), rgba(153, 145, 213, 0.82));
}
