@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Pretendard';
    background: linear-gradient(to bottom, rgba(215, 190, 242, 0.73), rgba(153, 145, 213, 0.82));
}
